@model IEnumerable<Semestrovka.Models.DBModels.Product>
@{
    ViewBag.Title = "Results";
}

@{
    var items = new SelectList(Model);
    @Html.DropDownList("Price", items, "Price")
}

<table class="table">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    @*<img src="@item.MainpictureurlNavigation.Imagepath" alt=""> не работает*@
                </div>
                <h2>
                    <a href="">@item.Name</a>
                </h2>
                <div class="product-carousel-price">
                    <ins>@item.Price</ins>
                    @*<del>$999.00</del> ЗАчёркнутое*@
                </div>

                <div class="product-option-shop">
                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                       rel="nofollow" href="/canvas/shop/?add-to-cart=70">
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    }
</table>