* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.Login-Wrap {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 490px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.Field {
    position: relative;
    padding: 20px;
    float: left;
    height: 80px;
}

.Field--half {
    width: 50%;
}

.Field--full {
    width: 100%;
}

.Field-label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    border: 1px solid transparent;
}

.Field-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    height: 40px;
    font-size: 13px;
    width: 100%;
    color: #a8b1b8;
    border: 1px solid transparent;
}
.Field-text:focus {
    background: #d7ebf6;
    outline: none;
    border: 1px solid #5cadd8;
    border-top: 0;
}
.Field-text:focus ~ .Field-label {
    background: #d7ebf6;
    color: #5cadd8;
    border: 1px solid #5cadd8;
}

.Field-button {
    width: 100%;
    padding: 15px 30px;
    border: none;
}

.Field-button--submit {
    background: #7fa743;
    box-shadow: inset 0 -5px 0 #638334;
    color: white;
}

.Field-button--facebook {
    background: #617db7;
    box-shadow: inset 0 -5px 0 #48649d;
    color: white;
}

.Login-row {
    width: 100%;
    padding: 20px;
    float: left;
    border-top: 1px solid #e0e3e6;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

input:required:invalid {
    border:1px solid red;
}
